html {
  background-color: rgb(170, 170, 170);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

main {
  margin-left: 15%;
  background-color: #F9F9EE;
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  border: 2px solid rgb(0, 89, 255);

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

div {
  margin-bottom: 10px;
}

h1 {
  font: bold 3em verdana;
}

h2 {
  font: 2em verdana;
  color: grey;
}

div {
  margin-top: 10px;
  margin-bottom: 10px;
}

.exceptionMessage {
  color: red;
  font-weight: bold;
}

.tableAction {
  color: slateblue;   
  font-weight: bold;
  font-family: 'Arial';
}

.th {
  border: 2px solid maroon;
}

.td {
  background-color: lightgrey;
}

td {
  min-width: 100px;
}